# Dependencies
node_modules
package-lock.json
venv
.venv

# Git
.git
.gitignore
.github

# IDEs
.idea
.vscode
.DS_Store

# Python cache
**/*.pyc
**/__pycache__
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
htmlcov

# Development files
.pre-commit-config.yaml
Makefile
justfile

# Documentation
README.md
CHANGELOG
docs
screenshots

# Config and test files
.env
.env.example
tests
**/fixtures

# Media files
media
**/media

# Other
celerybeat-schedule
package.json
k8s

# Only exclude dev docker files, keep prod
docker/dev
